In [1]:
import yfinance as yf
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings('ignore')


from data_downloader import DataDownloader, ClimateDataCleaner, EconomicDataCleaner
from var_model import ClimateVAR
from sdice_model import SimplifiedDICE

In [3]:
# Instancia para limpiar y procesar los datos climáticos
climate_cleaner = ClimateDataCleaner('Data/Temperature.csv', 'Data/Drought_Severity.csv', 'Data/CO2_Emissions.xlsx')
climate_data = climate_cleaner.clean_and_prepare_data()

# Instancia para limpiar y procesar los datos climáticos
economic_cleaner = EconomicDataCleaner('Data/GDP.csv', 'Data/TB3MS.csv', 'Data/CPI.csv')
economic_data = economic_cleaner.clean_and_prepare_data()

# Descarga los datos financieros
downloader = DataDownloader()
assets = ['AAPL', 'IBM', 'TSLA', 'GOOG', 'NVDA', 'NEE', 'FSLR', 'VWDRY', 'BEP'] 
benchmark = '^GSPC'  
start_date = '2014-11-01'
end_date = '2024-05-31'
rf = .065

asset_prices, benchmark_prices = downloader.download_data(start_date=start_date, 
                                                          end_date=end_date, 
                                                          assets=assets, 
                                                          benchmark=benchmark)

# Combina los datos climáticos y financieros
combined_data = pd.merge(asset_prices, climate_data, on='Date')

[*********************100%%**********************]  9 of 9 completed
[*********************100%%**********************]  1 of 1 completed

In [6]:
economic_data

                  GDP  TB3MS      CPI
Date
2014-12-01  17912.079   0.02  237.430
2015-01-01  18063.529   0.03  234.747
2015-02-01  18063.529   0.03  234.747
2015-03-01  18063.529   0.03  234.747
2015-04-01  18279.784   0.02  236.222
...               ...    ...      ...
2023-12-01  27956.998   5.34  307.531
2024-01-01  28269.174   5.22  309.685
2024-02-01  28269.174   5.22  309.685
2024-03-01  28269.174   5.22  309.685
2024-04-01  28652.337   5.24  313.207

[113 rows x 3 columns]

In [ ]:
asset_prices.plot(x='Date', y=assets, figsize=(14, 7), title='Asset Returns')

In [ ]:
# Assuming beta_calculator.calculate_betas() returns a DataFrame
betas = beta_calculator.calculate_betas()

# Plot the betas
betas.plot(kind='bar', figsize=(14, 7), title='Calculated Betas')

In [ ]:
# Longitud de asset_prices
len_asset_prices = len(asset_prices)
print(f"Longitud de asset_prices: {len_asset_prices}")

# Longitud de climate_data
len_climate_data = len(climate_data)
print(f"Longitud de climate_data: {len_climate_data}")