In [8]:
import yfinance as yf
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings('ignore')


from data_downloader import DataDownloader
from data_downloader import ClimateDataCleaner
from data_downloader import EconomicDataCleaner
from var_model import ClimateVAR
from sdice_model import SimplifiedDICE

In [9]:
downloader = DataDownloader()

assets = ['AAPL', 'IBM', 'TSLA', 'GOOG', 'NVDA', 'NEE', 'FSLR', 'VWDRY', 'BEP'] 
benchmark = '^GSPC'  
start_date = '2014-11-01'
end_date = '2024-05-31'
rf = .065

asset_prices, benchmark_prices = downloader.download_data(start_date=start_date, end_date=end_date,
                                                                      assets=assets, benchmark=benchmark)

[*********************100%%**********************]  9 of 9 completed
[*********************100%%**********************]  1 of 1 completed

In [10]:
asset_prices.head()

,Date,AAPL,BEP,FSLR,GOOG,IBM,NEE,NVDA,TSLA,VWDRY
0,2014-12-01,-0.071891,0.004221,-0.086066,-0.028478,-0.010668,0.018201,-0.043872,-0.090422,-0.017129
1,2015-01-01,0.061424,0.039767,-0.051121,0.015426,-0.044440,0.027755,-0.042394,-0.084574,0.078838
2,2015-02-01,0.100776,-0.030332,0.411862,0.044676,0.063701,-0.045986,0.153382,-0.001277,0.076154
3,2015-03-01,-0.031372,0.026324,0.000669,-0.018625,-0.008892,0.005703,-0.051224,-0.071653,-0.007799
4,2015-04-01,0.005787,0.032932,-0.002007,-0.016760,0.067227,-0.029986,0.060679,0.197489,0.094161

In [11]:
cleaner = ClimateDataCleaner('Data/Temperature.csv', 'Data/Drought_Severity.csv', 'Data/CO2_Emissions.xlsx')

# Clean and prepare the data
climate_data = cleaner.clean_and_prepare_data()

climate_data

,Date,Temperature,DSCI,Coal,Natural Gas,Petroleum,Total CO2 Emissions
0,2014-12-01,-1.134168,104.00,-0.107713,-0.079697,0.035305,-0.045066
1,2015-01-01,-0.100921,103.25,-0.140308,-0.024601,0.005973,-0.049579
2,2015-02-01,-0.348977,111.25,-0.117793,0.071572,0.034858,-0.002740
3,2015-03-01,0.936614,117.20,-0.185240,0.017076,0.057500,-0.029565
4,2015-04-01,0.092542,125.25,-0.163193,0.027977,0.012721,-0.034143
...,...,...,...,...,...,...,...
109,2024-01-01,4.009622,98.80,0.167510,0.120100,0.010273,0.081480
110,2024-02-01,-5.464459,72.75,-0.041299,0.006871,0.007048,0.000088
111,2024-03-01,0.806495,74.25,-0.210958,-0.074042,-0.042391,-0.078618
112,2024-04-01,0.234115,63.00,-0.072617,-0.010663,0.001523,-0.012618
113,2024-05-01,-0.026968,49.00,0.021195,0.005562,0.020155,0.015335

In [12]:
economic_cleaner = EconomicDataCleaner('Data/GDP.csv', 'Data/TB3MS.csv', 'Data/CPI.csv')
economic_data = economic_cleaner.clean_and_prepare_data()  # Obtiene los datos económicos preparados
economic_data

                  GDP  TB3MS      CPI
Date
2014-12-31  17912.079   0.02  237.430
2015-01-31  18063.529   0.03  234.747
2015-02-28  18063.529   0.03  234.747
2015-03-31  18063.529   0.03  234.747
2015-04-30  18279.784   0.02  236.222
...               ...    ...      ...
2023-12-31  27956.998   5.34  307.531
2024-01-31  28269.174   5.22  309.685
2024-02-29  28269.174   5.22  309.685
2024-03-31  28269.174   5.22  309.685
2024-04-30  28652.337   5.24  313.207

[113 rows x 3 columns]

In [14]:
beta_calculator = BetaCalculator(asset_prices, benchmark_prices, climate_data)
beta_calculator.calculate_betas()

NameError: name 'BetaCalculator' is not defined

In [ ]:
asset_prices.plot(x='Date', y=assets, figsize=(14, 7), title='Asset Returns')

In [ ]:
# Assuming beta_calculator.calculate_betas() returns a DataFrame
betas = beta_calculator.calculate_betas()

# Plot the betas
betas.plot(kind='bar', figsize=(14, 7), title='Calculated Betas')

In [ ]:
# Longitud de asset_prices
len_asset_prices = len(asset_prices)
print(f"Longitud de asset_prices: {len_asset_prices}")

# Longitud de climate_data
len_climate_data = len(climate_data)
print(f"Longitud de climate_data: {len_climate_data}")