In [1]:
import yfinance as yf
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings('ignore')


from data_downloader import DataDownloader
from var_model import VAR
from dice_model import DiceModel

In [2]:
downloader = DataDownloader()

assets = ['AAPL', 'IBM', 'TSLA', 'GOOG', 'NVDA'] 
benchmark = '^GSPC'  
start_date = '2019-01-01'
end_date = '2023-12-31'
rf = .065

asset_prices, benchmark_prices = downloader.download_data(start_date=start_date, end_date=end_date,
                                                                      assets=assets, benchmark=benchmark)

[*********************100%%**********************]  5 of 5 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
asset_prices.head()

Ticker           AAPL       GOOG        IBM      NVDA       TSLA
Date
2019-01-02  37.750088  52.164391  83.947769  3.378323  20.674667
2019-01-03  33.989891  50.678543  82.271858  3.174214  20.024000
2019-01-04  35.440899  53.404346  85.485229  3.377579  21.179333
2019-01-07  35.362022  53.288631  86.089989  3.556391  22.330667
2019-01-08  36.036133  53.682163  87.314117  3.467852  22.356667

In [12]:
# Cargar archivos CSV
temperature = pd.read_csv('Data/Temperature.csv')
drought = pd.read_csv('Data/Drought_Severity.csv')

# Cargar archivo XLSX
co2_emission = pd.read_excel('Data/CO2_Emissions.xlsx', skiprows=10).drop(index=0)
co2_emission.head(40)

,Month,"Coal, Including Coal Coke Net Imports, CO2 Emissions","Natural Gas, Excluding Supplemental Gaseous Fuels, CO2 Emissions",Aviation Gasoline CO2 Emissions,"Distillate Fuel Oil, Excluding Biodiesel, CO2 Emissions",Hydrocarbon Gas Liquids CO2 Emissions,Jet Fuel CO2 Emissions,Kerosene CO2 Emissions,Lubricants CO2 Emissions,"Motor Gasoline, Excluding Ethanol, CO2 Emissions",Petroleum Coke CO2 Emissions,Residual Fuel Oil CO2 Emissions,Other Petroleum Products CO2 Emissions,"Petroleum, Excluding Biofuels, CO2 Emissions",Total Energy CO2 Emissions
1,1973-01-01,109.552,125.557,0.428,55.157,10.464,13.742,5.222,1.037,70.948,4.85,48.37,8.754,218.972,454.082
2,1973-02-01,98.833,113.75,0.431,51.771,8.849,12.193,4.475,1.025,67.422,3.992,44.686,7.674,202.519,415.102
3,1973-03-01,98.483,107.7,0.459,44.46,6.688,12.293,2.582,1.105,75.532,4.357,45.111,8.659,201.245,407.428
4,1973-04-01,94.15,97.838,0.446,33.973,5.793,12.112,2.031,0.979,73.415,4.179,35.063,8.23,176.222,368.21
5,1973-05-01,95.424,92.039,0.549,35.591,5.489,13.756,1.702,1.156,80.105,4.645,36.889,8.688,188.57,376.032
6,1973-06-01,98.888,81.657,0.471,31.175,4.503,12.039,1.464,1.006,78.155,4.872,36.914,8.846,179.443,359.988
7,1973-07-01,104.371,82.866,0.419,31.004,4.416,12.941,1.91,1.22,81.449,4.803,35.288,9.082,182.532,369.77
8,1973-08-01,106.631,84.098,0.668,34.029,5.232,12.956,1.886,1.187,84.156,5.01,40.315,9.168,194.606,385.335
9,1973-09-01,99.436,81.115,0.462,34.466,5.33,12.808,2.296,1.04,73.854,4.341,37.889,8.302,180.788,361.34
10,1973-10-01,102.224,90.662,0.55,39.032,6.644,13.631,2.308,1.28,77.434,5.142,37.895,8.591,192.507,385.393
11,1973-11-01,102.639,101.315,0.475,45.213,7.984,12.27,3.804,1.135,76.575,4.404,44.706,7.902,204.469,408.423
12,1973-12-01,110.014,116.242,0.413,49.169,8.149,13.422,3.065,1.121,72.33,4.543,43.072,8.255,203.538,429.794
13,1974-01-01,108.393,119.741,0.441,51.104,8.9,11.072,4.007,1.175,67.314,4.517,44.412,8.129,201.071,429.206
14,1974-02-01,98.038,110.109,0.304,46.322,7.244,9.608,3.264,0.979,63.896,4.04,39.528,7.398,182.583,390.73
15,1974-03-01,99.523,107.295,0.578,42.161,6.559,11.808,2.29,1.104,71.461,4.732,37.392,7.686,185.77,392.588
16,1974-04-01,94.502,90.595,0.445,36.774,5.697,11.234,1.618,1.055,72.467,4.075,34.504,8.126,175.995,361.092
17,1974-05-01,97.724,85.88,0.462,32.635,5.104,12.979,0.917,1.17,78.228,3.82,33.064,8.262,176.642,360.245
18,1974-06-01,96.07,76.821,0.527,30.639,4.803,11.353,1.428,0.919,77.655,4.123,34.05,8.597,174.094,346.984
19,1974-07-01,104.88,80.739,0.479,30.75,4.841,12.706,1.603,1.122,80.706,4.078,36.184,9.549,182.019,367.638
20,1974-08-01,105.132,80.445,0.64,30.75,5.071,12.725,1.809,1.014,81.893,4.166,37.005,9.422,184.496,370.072
21,1974-09-01,95.599,81.77,0.468,30.76,5.73,13.246,1.716,1.094,71.689,4.494,35.044,8.39,172.631,349.999
22,1974-10-01,100.218,90.836,0.557,38.462,6.759,12.484,2.475,1.126,77.843,3.838,38.204,8.857,190.604,381.658
23,1974-11-01,96.61,97.414,0.409,40.697,7.346,12.323,2.434,0.978,73.472,4.136,41.561,8.418,191.775,385.799
24,1974-12-01,102.597,112.563,0.348,51.342,8.513,12.89,3.141,0.992,76.053,4.454,43.651,8.454,209.84,424.999
25,1975-01-01,107.622,120.049,0.341,52.785,8.686,12.899,2.828,1.018,71.971,4.424,47.595,8.335,210.883,438.554
26,1975-02-01,98.975,103.804,0.365,45.765,6.934,12.006,2.937,0.716,63.856,4.026,37.645,7.004,181.256,384.035
27,1975-03-01,101.683,101.811,0.362,43.842,6.94,12.136,2.15,0.73,73.36,3.992,39.043,7.614,190.17,393.663
28,1975-04-01,94.247,84.462,0.41,39.873,5.699,12.044,1.819,0.968,75.397,4.171,31.61,7.281,179.274,357.983
29,1975-05-01,92.643,71.138,0.389,31.734,4.155,12.072,1.252,0.946,79.688,3.889,30.531,7.867,172.523,336.304
30,1975-06-01,96.166,67.018,0.423,29.234,3.834,11.842,1.644,1.005,79.416,4.029,30.825,7.942,170.193,333.377
31,1975-07-01,101.557,69.975,0.504,28.098,4.771,11.793,1.254,0.953,81.651,4.866,32.479,8.992,175.359,346.891
32,1975-08-01,104.64,72.856,0.471,28.952,5.082,12.936,1.376,1.035,81.276,4.519,31.559,8.62,175.827,353.323
33,1975-09-01,94.139,72.839,0.476,27.905,5.321,12.423,1.556,0.998,75.517,4.358,32.964,8.245,169.763,336.74
34,1975-10-01,96.01,82.033,0.471,35.658,6.116,12.309,1.879,1.091,78.602,4.929,33.188,8.252,182.494,360.537
35,1975-11-01,98.367,87.228,0.374,32.805,6.428,11.929,1.827,0.832,71.712,4.357,34.057,8.111,172.433,358.029
36,1975-12-01,108.982,109.313,0.322,50.525,8.876,11.226,3.541,0.977,78.954,4.541,42.601,8.664,210.227,428.521
37,1976-01-01,112.973,122.418,0.301,57.25,9.756,11.751,3.834,0.853,74.202,4.77,45.619,8.659,216.995,452.386
38,1976-02-01,100.126,103.688,0.292,46.083,6.76,11.168,2.621,0.914,67.952,4.072,42.111,8.433,190.405,394.22
39,1976-03-01,104.008,91.964,0.367,44.482,5.952,11.933,2.042,1.193,79.91,4.519,40.662,8.713,199.773,395.745
40,1976-04-01,99.377,80.482,0.387,35.928,4.993,12.079,1.73,1.064,80.351,4.241,35.334,8.403,184.511,364.37